<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>测试文件上传</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<meta http-equiv="Cache-Control" content="max-age=180">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link href="https://cdn.bootcdn.net/ajax/libs/vant/2.12.24/index.min.css" rel="stylesheet">
</head>

<body>
	<div id="counter">
		<div style="text-align: center;">
			<div style="margin: 20px 0 10px auto;">文件上传</div>
			<van-uploader v-model="fileList" multiple :after-read="uploadFile" :max-count="1" />
		</div>
		<div>
			<div v-if="odlSize" style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
				<span style="color:#1890ff;margin-left: 20px;">原始大小: ${size}</span>
				<span style="color:#92cc75;margin-left: 20px;">压缩后大小: ${odlSize}</span>
				<span style="color:#eb2f96;margin-left: 20px;">压缩占比: ${percentage}%</span>
			</div>
		</div>
		<div style="text-align: center;margin:20px auto">
			<van-loading size="24px" v-if="active">压缩中..</van-loading>
			<p v-if="error" style="font-size: 24px;color:#f5222d">压缩失败，服务异常！</p>
			<img id="img1" :src="url" style="width:70%;">
		</div>
	</div>
	</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vant/2.12.24/vant.min.js"></script>
<script
		src="https://browser.sentry-cdn.com/6.11.0/bundle.min.js"
		integrity="sha384-c+8PXtRnYfCKsSEvgtDqFeJvhjltkNLIUB1vcWKW4EleABoS4jh87UrE+1nQXg+g"
		crossorigin="anonymous"
></script>
<script
		src="https://browser.sentry-cdn.com/6.11.0/bundle.tracing.min.js"
		integrity="sha384-XuDodOP4mgLWA8eRlqZJWs+mtmznHF6ES/nOotK0fE7SHjj0Ec3YMVIzjh5ytsKH"
		crossorigin="anonymous"
></script>
<script>
	Vue.prototype.$axios = axios;
	var app = new Vue({
		el: '#counter',
		delimiters: ['${', '}'],
		data: {
			fileList: [],
			url: '',
			active: false,
			size: 0,
			odlSize: 0,
			percentage: 0,
			error: false
		},
		methods: {
			afterRead(file) {
				file.status = 'uploading';
				file.message = '上传中...';
			},
			async uploadFile(files) {
				this.active = true;
				const {
					file
				} = files;
				this.size = file.size;
				let formData = new FormData();
				formData.append('file', file);
				formData.append('isFile', "false");
				let res = await this.$axios({
					url: '/api/parse',
					method: 'POST',
					data: formData,
				}).then(res => {
					return res
				}).catch(err => {
					this.error = true;
					this.active = false;
					console.log(err);
				})
				if (res) {
					const { file, percent } = res.data;
					const blobArray = file.split(',');
					const uint8 = new Uint8Array(blobArray);
					const blob = new Blob([uint8]);
					this.url = URL.createObjectURL(blob);

					this.percentage = parseInt(100 - (percent / this.size ) * 100);
					this.size = this.change(this.size);
					this.odlSize = this.change(percent);
					this.active = false;
				}
			},
			blobToDataURI(blob, callback) {
				let reader = new FileReader();
				reader.onload = function (e) {
					callback(e.target.result);
				}
				reader.readAsDataURL(blob);
			},
			// 进制转换
			change(limit) {
				var size = "";
				if (limit < 0.1 * 1024) {
					size = limit.toFixed(2) + "B"
				} else if (limit < 0.9 * 1024 * 1024) {
					size = (limit / 1024).toFixed(2) + "KB"
				} else if (limit < 0.9 * 1024 * 1024 * 1024) {
					size = (limit / (1024 * 1024)).toFixed(2) + "MB"
				}

				var sizeStr = size + "";
				var index = sizeStr.indexOf(".");
				var dou = sizeStr.substr(index + 1, 2)
				if (dou == "00") {
					return sizeStr.substring(0, index) + sizeStr.substr(index + 3, 2)
				}
				return size;
			}
		},
		errorHandler(err, vm, info) {
			console.log(info);
		}
	})

	Sentry.init({
		dsn: "https://examplePublicKey@o0.ingest.sentry.io/0",
		// this assumes your build process sets "npm_package_version" in the env
		release: "my-project-name@" + process.env.npm_package_version,
		integrations: [new Sentry.Integrations.BrowserTracing()],

		// We recommend adjusting this value in production, or using tracesSampler
		// for finer control
		tracesSampleRate: 1.0,
	});
</script>

</html>
